@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');

/*font-family: 'Varta', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Varta', sans-serif;
}

#navBar {
    background-color: #333;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 10px;
    top: 0;
    width: 100%;
    position: fixed;
}

div.navComponent {
    float: left;
    margin-left: 10px;
}

#author {
    margin-top: 15px;
    font-size: 15px;
}

#buttons {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-right: 16px;
}

#buttons>* {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    background-color: white;
}

body div ul li a img {
    height: 5%;
    width: 5%;
}

#main {
    background-color: #eeeeee;
    border-radius: 6px;
    margin: 8px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 15px;
    text-align: center;
}

#title {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subtitle {
    font-size: 18px;
    font-weight: 100;
}

#img-div {
    background-color: white;
}

#img-caption {
    font-size: medium;
    letter-spacing: 1px;
}

#tribute-title {
    margin: 50px 0px;
    font-weight: 900;
}

#tribute-list {
    margin-left: 400px;
    margin-right: 400px;
}

#tribute-list>* {
    font-size: medium;
    letter-spacing: 1px;
    text-align: left;
    margin: 20px 0px;
}

#quote {
    margin: 50px 0px;
    font-weight: 100;
}

#tribute-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
}